extends ../layout

block content
  .page-header
    h3 All workouts

    a(href='workout/new')
      button.btn
        i.fa.fa-child
        | Start new workout

  table.table.table-condensed
    tr
      th Date
      th Description
      th Created
    for d in workouts
      tr
        td
          a(href='/workout/details/'+d._id) #{d.day()}
        td=d.description
        td=d.createdAt


        